body {color: red; 
    background-color: gray; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
    margin-left: 90px;}

ul {width: 22%; background-color: purple;}
li {border: gray 2px inset; padding: 1%;}

h1 {color: white; word-spacing: 40px; 
    font-family: 'Comic Sans MS';
    margin-right: 20%;
    padding: 10px;
    border: 5px red solid;}

p {text-align: center; width: 27%; 
    background-color: goldenrod;
    padding-top: 3%;
    border: blue 15px solid}

h3 {font-style: italic; text-transform: lowercase; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 20%; text-align: right;}